/* Убираем внешние отступы */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f2f2f2;
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v23-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v23-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: rgba(16, 39, 70, 1);
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

/* Header styles start*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}

.header__title-form {
  text-align: center;
  margin-bottom: 15px;
  font-weight: normal;
}
.header__sign-form {
  width: 300px;
  background-color: #a2a2db;
  padding: 32px;
  position: fixed;
  left: 40%;
  top: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
  letter-spacing: 1px;
  z-index: 1;
}

.form-input,
.form-button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: black;
  letter-spacing: 1px;
}

.header__input-sign-in {
  max-width: 400px;
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 32px;
  transition: 0.3s;
  z-index: -1;
}

.form-input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px black;
  outline: none;
  transition: 0.3s;
  margin-bottom: 10px;
}

.form-input:focus {
  border-bottom: solid 1px green;
}

.form-button {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  background-color: #1b7dff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.form-button:hover,
.form-button:focus {
  background-color: #345b8e;
}

.form-input:focus > .form-label {
  top: -18px;
  font-size: 10px;
}

.form-group {
  opacity: 0;
}

.form-show {
  opacity: 1;
}

/* Header styles end*/

/* Intro styles start*/
.intro {
  min-height: 100vh;
  background: url(../img/hero-background/hero.png) no-repeat;
  background-size: cover;
  padding-top: 263px;
}

/* Intro styles end*/

/*Intro title*/

.intro__title {
  max-width: 619px;
  font-style: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 22px;
}

.intro__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  background: none;
  margin-right: 60px;
  border: inherit;

  width: 291px;
  background: url(../img/svg/circle.svg) no-repeat left center;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  padding-left: 43px;
  /* padding-bottom: 22px; */
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.search-form__field::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.search-form__field:first-child {
  margin-left: 0px;
}

.search-form__submit {
  background: #1b7dff;
  border: inherit;
  width: 171px;
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms linear;
}

.search-form__submit:hover {
  background-color: #345b8e;
}
