/* Убираем внешние отступы */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f2f2f2;
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v23-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v23-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 153px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}

.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  /* identical to box height */
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: "";
  height: 3px;
  width: 253px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Header styles start*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 200ms all;
}

.header-active {
  background: #0e1d28;
  opacity: 0.6;
  transition: 200ms all;
  z-index: 15;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  /* identical to box height, or 133% */

  color: #ffffff;

  transition: 0.2s all;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}

.header__title-form {
  text-align: center;
  margin-bottom: 15px;
  font-weight: normal;
}
.header__sign-form {
  width: 400px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0 auto;
  border-radius: 25px;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;

  z-index: 999;
}

.form-input,
.form-button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: black;
  letter-spacing: 1px;
}

.header__input-sign-in {
  max-width: 400px;
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 32px;
  transition: 0.3s;
}

.form-input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px black;
  outline: none;
  transition: 0.3s;
  margin-bottom: 10px;
}

.form-input:focus {
  border-bottom: solid 1px green;
}

.form-button {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  background-color: #1b7dff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.form-button:hover,
.form-button:focus {
  background-color: #345b8e;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.show-form {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background: linear-gradient(
    180deg,
    rgba(53, 66, 103, 0.0001) 0%,
    #151824 95.04%
  );
  z-index: 5;
}

.btn-sign {
  background: transparent;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  /* identical to box height, or 133% */
  color: #ffffff;
}

.btn-sign:hover,
.btn-sign:focus,
.btn-sign:active {
  opacity: 0.75;
}

/* Header styles end*/

/* Intro styles start*/
.intro {
  min-height: 100vh;
  background: url(../img/hero-background/hero.png) no-repeat;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

/* Intro styles end*/

/*Intro title*/

.intro__title {
  max-width: 619px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 22px;
}

/*End intro title*/

/*Intro subtitle*/

.intro__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 546px;
  margin-bottom: 59px;
}

/*End intro subtitle*/

/*Intro search form*/

.search-form__info {
  display: flex;
  flex-wrap: wrap;
  /*   padding-bottom: 153px; */
}

.search-form__field {
  background: none;
  margin-right: 60px;
  border: inherit;

  width: 291px;
  background: url(../img/svg/circle.svg) no-repeat left center;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  padding-left: 43px;
  /* padding-bottom: 22px; */
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.search-form__field::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.search-form__field:first-child {
  margin-left: 0px;
}

.search-form__submit {
  background: #1b7dff;
  border: inherit;
  width: 171px;
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms linear;
}

.search-form__submit:hover {
  background-color: #345b8e;
}

/*End intro search form*/

/*Start benefits style*/

.benefits {
  margin-bottom: 131px;
}

.benefits__title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #ffffff;
  width: 100%;
}

.benefits__wrap {
  max-width: 1262px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits__card-thumb {
  display: block;
}

.benefits__cards-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}

.benefits__cards-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #000000;

  margin-bottom: 39px;
}

.benefits__card-link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-decoration: none;
  color: #006dfe;
  padding-right: 59px;
  background: url(../img/svg/arrow.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.benefits__card-link:hover,
.benefits__card-link:focus {
  /* transform: scale(1.1); */

  background: url(../img/svg/arrow.svg) no-repeat right center;
}

/* Benefits style end*/

/* Places style start*/

.places {
  margin-bottom: 157px;
}
.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__view-all {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: right;
  color: #006dfe;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/svg/arrow.svg) no-repeat right center;
  transition: 0.2s all;
}

.places__view-all:hover,
.places__view-all:focus {
  transform: scale(1.1);
}

.places-title {
  margin-right: 15px;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(21, 24, 36, 0.4); */
  z-index: 2;
}

.places__card_size_lg {
  grid-column: span 3;
}
.places__card_size_sm {
  grid-column: span 2;
}

.places__card-pic {
  width: 100%;
  display: block;
  transition: 0.15s all;
}

.places__card-pic_size_lg {
  height: 354px;
  object-fit: cover;
}

.places__card-pic_size_sm {
  height: 283px;
  object-fit: cover;
}

.places__card:hover .places__card-pic {
  transform: scale(1.1);
}

.places-card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  /* identical to box height */

  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Places style end*/

/* Tours style start*/
.tours {
  margin-bottom: 152px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height, or 133% */
  color: #102746;
  margin-bottom: 85px;
}

.tour__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #102746;
  margin-bottom: 58px;
}

.tour__more {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006dfe;
  padding-right: 59px;
  transition: 0.2s all;
  background: url("../img/svg/arrow.svg") no-repeat 95% center;
  transition: 0.2s all;
}

.tour__more:hover {
  background: url("../img/svg/arrow.svg") no-repeat right center;
}

.tour__info {
  padding-left: 44px;
}

/* Tours style end*/

/* Visit style start*/
.visit {
  margin-bottom: 86px;
}
.visit__title {
  margin-bottom: 55px;
}

.visit__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.visit__card {
  display: flex;
  flex-direction: column;
}

.visit__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.visit__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  background: rgba(21, 24, 36, 0.6);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 25px;
}

.visit__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 0px;
  color: #ffffff;
  margin: 0 auto 0 0;
}

.visit__card-likes {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 20px;
  background: url(../img/svg/heart.svg) no-repeat right center;
  margin-right: 14px;
}

.visit__card-comment {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 23px;
  background: url(../img/svg/comment.svg) no-repeat right center;
}

.visit__card-comment {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.visit__card-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #102746;
  margin-bottom: 31px;
}

.visit__card-more {
  width: 118px;
  background: #006dfe;
  text-decoration: none;
  padding: 12px 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  transition: 0.2s all;

  margin: auto 0 0 0;
}
.visit__card-more:hover,
.visit__card-more:focus {
  background: #203258;
}
/* Visit style end*/

.video {
  width: 100%;
  background-color: #bfc0c5;
  height: 200px;
}
